<!-- # Copyright (c) 2024 Graphcore Ltd. All rights reserved. -->

# Collect value statistics for formats

This notebook computes various statistics for a variety of float formats,
by exhaustively enumerating the values.  Naturally, most of these statistics can be computed directly, and indeed many are already supplied on the `FormatInfo` class as methods, for example `max`, `smallest_subnormal`, etc.  However this method serves as a useful cross-check against the direct formulae.

## Statistics collected

 - name: Format
 - B: Bits in the format
 - P: Precision in bits
 - E: Exponent field width in bits
 - T: Trailing significand field width in bits
 - lt1: Number of values x such that `0 < x < 1`
 - gt1: Number of values x such that `1 < x < Inf`
 - rt16: True if all values are exactly representable in IEEE binary16
 - maxFinite: Largest finite value
 - minFinite: Smallest finite value
 - maxNormal: Largest finite normal value, NaN if all finite values are subnormal
 - minNormal: Smallest positive normal value, NaN if all finite values are subnormal
 - minSubnormal: Smallest positive subnormal value, NaN if no finite values are  - subnormal
 - maxSubnormal: Largest subnormal value, NaN if no finite values are subnormal

In [1]:
%run utils.py
D = pandas_render  # from utils
import pandas
from gfloat import *
from gfloat.formats import *

import numpy as np


def collect_stats(fi: FormatInfo):
    # Generate all values
    values = [decode_float(fi, i) for i in range(2**fi.bits)]
    df = pandas.DataFrame(values)

    # Extract format information parameters
    E = fi.expBits
    S = fi.tSignificandBits

    # Compute statistics: lt1,gt1
    fval = df["fval"]
    total_01 = fval.between(0, 1, inclusive="neither").sum()
    total_1Inf = fval.between(1, np.inf, inclusive="neither").sum()

    # Compute statistics: maxFinite,minFinite
    finite_vals = fval[np.isfinite(fval)]
    maxFinite = finite_vals.loc[finite_vals.idxmax()]
    minFinite = finite_vals.loc[finite_vals.idxmin()]

    # Compute statistics: maxNormal,minNormal
    normal_vals = fval[(df["fclass"] == FloatClass.NORMAL) & (fval > 0)]
    maxNormal = normal_vals.loc[normal_vals.idxmax()] if normal_vals.any() else np.nan
    minNormal = normal_vals.loc[normal_vals.idxmin()] if normal_vals.any() else np.nan

    # Compute statistics: minSubnormal
    pos_subnormal = fval[(df["fclass"] == FloatClass.SUBNORMAL) & (fval > 0)]
    maxSubnormal = (
        pos_subnormal.loc[pos_subnormal.idxmax()] if pos_subnormal.any() else np.nan
    )
    minSubnormal = (
        pos_subnormal.loc[pos_subnormal.idxmin()] if pos_subnormal.any() else np.nan
    )

    # Compute roundtrips: rt16, rt32
    with np.errstate(over="ignore"):
        rt16 = (np.float64(np.float16(fval)) == np.float64(fval)) | ~np.isfinite(fval)
        rt32 = (np.float64(np.float32(fval)) == np.float64(fval)) | ~np.isfinite(fval)

    rt16 = rt16.all()
    rt32 = rt32.all()
    assert rt32  # If not, we should include rt32 in the table

    # Assemble tuple
    return dict(
        name=fi.name,
        B=fi.bits,
        P=fi.precision,
        E=E,
        T=S,
        lt1=total_01,
        gt1=total_1Inf,
        rt16=rt16,
        maxFinite=maxFinite,
        minFinite=minFinite,
        maxNormal=maxNormal,
        minNormal=minNormal,
        minSubnormal=minSubnormal,
        maxSubnormal=maxSubnormal,
    )


stats = [collect_stats(fi) for fi in all_formats if fi.bits <= 16]
df = pandas.DataFrame(stats)
D(df)

## Emit HTML table

In [2]:
# Special rendering for float values - if they don't render nicely in 10.5g,
# use float_pow2str
def render_float(v):
    s = f"{v:8.5g}"
    if not "e" in s and float(s) == v:
        return s
    else:
        return float_pow2str(v)


for field in (
    "maxFinite",
    "minFinite",
    "maxNormal",
    "minNormal",
    "minSubnormal",
    "maxSubnormal",
):
    df[field] = df[field].map(render_float)

D(df)